.title_contents {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-image: image-url('newspaper.jpeg');
}


.sound_lyric {
  padding: 0px 860px 0px 0px;
  font-size: 22px;
  font-weight: bolder ;
  color: #FFFFFF;
  text-decoration:none;
}

.sound_lyric:hover {
  color:#333;
}

.lists-right {
  padding: 40px 80px 0 0;
  font-size: 20px;
  display: flex;
  justify-content: right;
}

.login {
  color: #FFFFFF;
  padding: 0px 63px 0 0;
  text-decoration: none;
}

.login:hover {
  color: #333;
}

.sign-up {
  color: #FFFFFF;
  text-decoration: none;
}

.sign-up:hover {
  color: #333;
}

.user-name {
  color: #FFFFFF;
  padding: 0px 63px 0 0;
  text-decoration: none;
}

.user-name:hover {
  color: #333;
}

.logout {
  color: #FFFFFF;
  text-decoration: none;
}

.logout:hover {
  color: #333;
}